<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.attendance.mapper.DkUserMapper">

    <resultMap type="com.example.attendance.domain.DkUser" id="DkUserResult">
        <result property="id"    column="id"    />
        <result property="username"    column="username"    />
        <result property="password"    column="password"    />
        <result property="nickname"    column="nickname"    />
        <result property="role"    column="role"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="faceToken"    column="face_token"    />

    </resultMap>

    <sql id="selectDkUserVo">
        select id, username, password, nickname, `role`, del_flag, create_time, create_by, update_time, update_by, face_token from dk_user
    </sql>

    <select id="selectDkUserList" parameterType="com.example.attendance.domain.DkUser" resultMap="DkUserResult">
        <include refid="selectDkUserVo"/>
        <where>del_flag='0'
            <if test="username != null  and username != ''"> and username like concat('%', #{username}, '%')</if>
            <if test="password != null  and password != ''"> and password = #{password}</if>
            <if test="nickname != null  and nickname != ''"> and nickname like concat('%', #{nickname}, '%')</if>
            <if test="role != null  and role != ''"> and `role` = #{role}</if>
        </where>
    </select>

    <select id="selectDkUserById" parameterType="long" resultMap="DkUserResult">
        <include refid="selectDkUserVo"/>
        where del_flag='0' and id = #{id}
    </select>
    <select id="selectDkUserByUsername" parameterType="string" resultMap="DkUserResult">
        <include refid="selectDkUserVo"/>
        where del_flag='0' and username = #{username}
    </select>

    <insert id="insertDkUser" parameterType="com.example.attendance.domain.DkUser">
        insert into dk_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="username != null">username,</if>
            <if test="password != null">password,</if>
            <if test="nickname != null">nickname,</if>
            <if test="role != null">`role`,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="faceToken != null">face_token,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="username != null">#{username},</if>
            <if test="password != null">#{password},</if>
            <if test="nickname != null">#{nickname},</if>
            <if test="role != null">#{role},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="faceToken != null">#{faceToken},</if>
        </trim>
    </insert>

    <update id="updateDkUser" parameterType="com.example.attendance.domain.DkUser">
        update dk_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="username != null">username = #{username},</if>
            <if test="password != null">password = #{password},</if>
            <if test="nickname != null">nickname = #{nickname},</if>
            <if test="role != null">`role` = #{role},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="faceToken != null">face_token = #{faceToken},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDkUserById" parameterType="string">
        update dk_user set del_flag='2' where id = #{id}
    </delete>

    <delete id="deleteDkUserByIds" parameterType="string">
        update dk_user set del_flag='2' where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>